#image {
width: 100%;
height: auto;
max-width: 625px;
margin-left: auto;
margin-right: auto;
display: block;
}
#main {
  text-align: center; 
    
}
body {
font-family: Arial, Helvetica, sans-serif;
text-align: center;
width: 100%;
}
#image{
 box-shadow: 10px 10px 7px grey;
   border-radius: 8px;
}

}
#one{
  
}
#tribute-info{
  padding-top: 50px;
  padding-right: 300px;
  padding-bottom: 50px;
  padding-left: 300px;
  background-color: #E0E0E0;
  margin-right: 50px;
  margin-left: 50px;
  border-radius: 25px;
  box-shadow: 10px 10px 5px grey;
  
}
body{
/*   background-color: #ebeae6; */
}
#title{
  margin-right: 90px;
  margin-left: 90px;
  background-color: #E0E0E0;
  border-radius: 25px;
    box-shadow: 10px 10px 4px grey;
    

}
h1{
  text-shadow: 2px 2px 5px black;
}
#image:hover{
  opacity: 0.9; 
   
}
#img-caption{
  text-shadow: 2px 2px 5px black;
}
